.WeatherContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border-radius: 65px;
    background: #c0c0c0;
    box-shadow: inset 25px 25px 41px #6d6d6d, 
                inset -25px -25px 41px #ffffff;
  }